aws_region             = "us-east-1"
eks_cluster_name       = "proj-devops-eks"
dockerhub_username     = "<your-dockerhub-username>"
image_tag              = "latest"
app_key                = "<base64:...>"
jwt_secret             = "<random-64-char-string>"
gateway_db_password    = "<strong-password>"
abonnement_db_password = "<strong-password>"
mysql_root_password    = "<strong-password>"
